<html>
    <head></head>
    <body>
        <h1> TO DO List </h1> 
        <form id='userlogin' action='/login' method='post'>
            <p>User Name : </p> <input type='text' name='username' id='username'/>
            <p>Password : </p> <input type='text' name='password' id='password'/>
            <input type='submit' value='Login' id='login'/>
        </form>
        <div id='userActions'>
            <button id='signup'>Sign Up</button>
            <input type='submit' value='Reset Username/Password' id='reset'/>
        </div>
    </body>
</html>