<html>
    <head></head>
    <body>
        <h1> TO DO List </h1> 
        <div id='todoActions'>
            <input type='submit' value='Add'/>
            <input type='submit' value='Delete'/>
        </div>
        <div id='todos'>
            
        </div>
    </body>
</html>